html,
body {
    width: 100%;
    height: 100%;
    min-width: 320px;
    background-color: #fff;
    color: #263248;
    font-family: "Onest", sans-serif;
}
*::selection {
    color: #fff;
    background: #263248;
}

*::-moz-selection {
    color: #fff;
    background: #263248;
}

.wrapper {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    min-height: 100%;
    box-shadow: 0 0 10px #000;
    max-width: 1920px;
    margin: 0 auto;
}
.content {
    flex: 1 1 auto;
    padding-top: 100px;
}
.container {
    margin: 0 auto;
    padding: 0 60px;
}